@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fedeb5;
    width: 100%;
    padding: 10px; 
}

header ul{
    list-style: none;/*saca los items de lista -*/
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.boton{
    margin: 10px;
    padding: 15px 10px;
    font-size: 18px;
    color: white;
    background: linear-gradient(#ff642b);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.boton:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.encabezado img{
    width: 250px;
    margin-bottom: 10px;
}

.titulos {  
  text-align: center; 
  flex-direction: row-reverse;    
}

h1{
    font-size: 24px;
    color: rgb(255, 118, 6);
    font-family: cursive;
    font-family: "Libre Baskerville", serif;
}

h2{
    color:rgb(255, 116, 3);
    font-size:18px;
    font-family: cursive;
}

p{
    font-size: 20px;
    color: black;
}

.presentacion{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.presentacion h1{
    font-size: 30px;
    color: rgb(216, 94, 24);
    text-align: center;
    font-family: "Libre Baskerville", serif;
    margin-top: 20px;
}

.presentacion p{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

#carousel {
    width: 80%;
    align-content: center;
    margin-right: 30px;
    margin-left: 30px;
    align-items: center;
}

.contenedor{
    display:flex;/*los elementos dentrode esa caja van a ser flexibles*/
    flex-direction: row; 
    width: 100%;
    margin: 10px 0 10px 0; /* top, left, bottom, rigth*/
    background-color: rgb(255, 104, 45);
    
}

.caja{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja h1{
    color: #fffefd;
    font-family: "Libre Baskerville", serif;
}

.caja img{
    border-radius: 50%;
    width: 150px; /*ancho (el alto es automatico dependiendo la imagen*/
}

.caja p{
    font-size: 21px; /*tamaño de letra  de los parrafos*/
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:cursive;
}

.btn-primary {
    background-color: white !important; /* Forza el btn*/
    color: #ff6600;                
    font-size: 16;
    transition: all 0.3s ease-in-out;
}

.btn-primary::after { /* Flecha naranja */
    content: "▼";
    align-self: center;
    font-size: 14px;
    color: #ff6600;
}

.btn-primary:hover {
    background-color: #ff6600;   
    color: #ff6600;              
}

.btn-primary:hover::after { /* Flecha blanca en hover */
    color: white;           
}

.slogan h1{
    text-align:center;
    font-family:cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ubicacion{
    width:70%;
    display:flex;
    align-items:center;
}

#ubicacion h2{  /*direccion*/
    text-align:right;
    align-content:space-between;
    color: chocolate;
    font-size:large;
    text-decoration-style: dotted;
}

#ubicacion iframe{
    padding: 10px;
    margin:10px; 
    flex-direction:column-reverse;
}

footer{
   text-align:left;
   padding:30px;
   background-color:#f87400;
}

footer p{
    font-size: 12px;
}